### {{ ansible_managed }}
###
### Zigbee secrets.yaml
### Values are referenced in configuration.yaml

{%if zigbee_network_key is defined %}
network_key: {{ zigbee_network_key }}
{% endif %}
{% if zigbee2mqtt_frontend_auth_token is defined %}
auth_token: {{ zigbee2mqtt_frontend_auth_token }}
{% endif %}
{% if mqtt_user is defined %}
mqtt_user: {{ mqtt_user }}
{% endif %}
{%if mqtt_password is defined %}
mqtt_password: {{ mqtt_password }}
{% endif %}
